@font-face {
  font-family: 'SUPERMARIO64SIGNFONT';
  src: url('../fonts/SUPERMARIO64SIGNFONT.ttf');
}

:root {
  --debug: #00ff11;
  --text1: #ececec;
  --text2: #b6b6b6;
  --bg1: #131318;
  --bg2: #383838;
  --bg3: #1e1e24;
  --bg4: #444444b6;
  --bg5: #2b2b2b;
  --selected: #2ba4eb;
  --focused: #686868;
  --bob: #2a462c;
  --wf: #585151;
  --jrb: #363b64;
  --ccm: #557985;
  --bbh: #270808;
  --hmc: #212538;
  --lll: #581c1c;
  --ssl: #b15724;
  --ddd: #322e64;
  --sl: #314649;
  --wdw: #483f4e;
  --thi: #2b5838;
  --ttm: #441414;
  --ttc: #572300;
  --rr: #421244;
}

body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg2);
  color: var(--text1);
  user-select: none;
  font-family: 'SUPERMARIO64SIGNFONT';
  font-size: 16px;
}

/* general text input class*/
.textInput {
  outline: none;
  border: none;
  background: var(--bg4);
  color: var(--text1);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;  
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}

.themeBox {
  outline: none;
  border: none;
  background: var(--bg4);
  color: var(--text1);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;  
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  margin-right: 10px;
}

input[type="text"] {
  font-family: 'SUPERMARIO64SIGNFONT';
  font-size: 16px;
}

input[type="number"]{
  font-family: 'SUPERMARIO64SIGNFONT';
  font-size: 16px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance:none
}

.textInput:hover {
  border-color: var(--selected);
}

.textInput:focus {
  border-color: var(--focused);
}

/* main viewport */
#viewport {
  position: relative;
  width: 300%;
  height: 100%;
  z-index: 2;
  display: flex;
  transition: right 300ms ease;
}

/* where all the magic happens */
#overlay {
  width: calc(100% / 3);
  height: 100%;
  transition: opacity 300ms;
}

/* player stuff */
#playerRegion {
  display: flex;
  height: 150px;
}

.player {
  width: 49%;
  position: relative;
}

.playerPFPBox {
  width: 100%;
  height: 100%;
}

.playerPFP {
  right: 0px;
  top: 0px;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  box-sizing: border-box;
  float: right;
}

.pEditor {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.pInfo {
  padding-left: 10px;
}

#p1Tag, #p2Tag {
  float: left;
  min-width: 34px;
  max-width: 70px;
  width: 34px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#p1Name, #p2Name {
  float: left;
  min-width: 60px;
  max-width: 174px;
  width: 60px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* general text input class*/
.textInput {
  outline: none;
  border: none;
  background: var(--bg4);
  color: var(--text1);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;  
}
input[type="text"] {
  font-family: 'SUPERMARIO64SIGNFONT';
  font-size: 16px;
}

.textInput:hover {
  border-color: var(--selected);
}

.textInput:focus {
  border-color: var(--focused);
}

/* round propierties */
#roundInfo {
  height: 40px;
  border-top: thin;
  border-bottom: thin;
  border-style: solid none solid;
  border-color: var(--bg4);
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

#bestOf {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bestOfBox {
  background-color: var(--bg4);
  height: 30px;
  width: 57px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.bestOfBox:hover {
  border-color: var(--selected);
  transform: scale(1); /* cheap trick to show a correct border */
}

.bestOfBox:hover {
  border-color: var(--selected);
  transform: scale(1); /* cheap trick to show a correct border */
}

#bo1Div {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#bo3Div {
  border-radius: 0px;
}
#bo5Div {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* margin-left: -1px; */
}

#startTimerDiv {
  margin-left: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#stopTimerDiv {
  border-radius: 0px;
}
#resetTimerDiv {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#brb{
  margin-left: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#back{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#roundName, #tournamentName, #countDownLength {
  width: 100%;
  text-align: center;
  margin-right: 4px;
}

.scoreInfo {
  margin-left: 10px;
  font-family: 'SUPERMARIO64SIGNFONT';
  display: flex;
  align-items: center;
}

.scoreBox {
  background-color: var(--bg4);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;
  display: flex;
  align-items: center;
  color: var(--text2);
  margin-right: 10px;
}
.scoreBox:hover {
  border-color: var(--selected);
}

#file-label {
  background-color: var(--bg4);
  height: 30px;
  width: 73px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text2);
  margin-left: 10px;
}

#file-label:hover {
  border-color: var(--selected);
}

.scoreCheck {
  margin-left: 5px;
  width: 14px;
  height: 14px;
  outline: none;
}

#file1, #file2 {
  display: none;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)
}

.wlButtons {
  display: none;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.starCounter {
  display: none;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.wlBox {
  background-color: var(--bg4);
  height: 30px;
  width: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;
  float: left;
  color: var(--text2);
  display: flex;
  align-items: center;
}
.wlBox:hover {
  border-color: var(--selected);
}

#p1W, #p2W {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* box-sizing: border-box;
  padding-left: 7px; */
  
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
#p1W:hover, #p2W:hover {
  transform: scale(1);
}
#p1L, #p2L {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-sizing: border-box;
  padding-left: 7px;
  
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#playerSep {
  width: 2%;
  height: 100%;
}

#swapButton {
  width: 100%;
  height: 85%;
  background-color: var(--bg4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#swapButton:hover {
  filter: brightness(1.3);
}
#clearButton {
  width: 100%;
  height: 15%;
  background-color: var(--bg4);
  cursor: pointer;
}
#clearButton:hover {
  filter: brightness(1.3);
}

.midIcon {
  height: 12px;
  width: 12px;
  fill: #b6b6b6;
  opacity: 0;
  transform: scale(1.5, 1.5);
  transition: opacity 200ms, transform 200ms;
}
#swapButton:hover #swapIcon {
  opacity: 1;
  transform: scale(2, 2);
}
#clearButton:hover #clearIcon {
  opacity: 1;
  transform: scale(2, 2);
}

/* caster region */
#casterInfo {
  height: 90px;
  padding: 10px;
  padding: 8px 10px 12px 10px;
  border-bottom: thin;
  border-style: none none solid;
  border-color: var(--bg4);
}

.casterIcon {
  height: 20px;
  width: 20px;
  margin-left: -5px;
  margin-top: 5px;
  fill: #b6b6b6;
}

#bskyIcon {
  margin-right: 4px;
  margin-left: 5px;
}
#twitchIcon {
  margin-right: 4px;
  margin-left: 5px;
}

#caster1 {
  padding-bottom: 4px;
  display: flex;
  justify-items: center;
}
#caster2 {
  padding-bottom: 4px;
  display: flex;
  justify-items: center;
}
#caster3 {
  padding-bottom: 4px;
  display: flex;
  justify-items: center;
}

#cName1, #cName2, #cName3 {
  width: 190px;
  margin-left: 4px;
  align-items: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* text-align: center; */
}

#p1Stars, #p2Stars {
  width: 30px;
  /* align-items: center; */
  text-align: center;
  border-radius: 0px;
}

#p1StarAdd, #p2StarAdd {
  width: auto;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* text-align: center; */
}

#p1StarRemove, #p2StarRemove {
  width: auto;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* text-align: center; */
}

#cbsky1, #cbsky2, #cbsky3, #cTwitch1, #cTwitch2, #cTwitch3 {
  width: 152px;
  margin-left: 1px;
  align-items: center;
  /* text-align: center; */
}

/* the bottom bar */
#botBar {
  width: 100%;
  height: 28px;
  display: flex;
  background-color: var(--bg5);
  cursor: pointer;
}

.botRegion {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botText {
  height: 100%;
  color: var(--text1);
  font-family: 'SUPERMARIO64SIGNFONT';
  align-content: center;
}

.rectangle {
  height: 2px;
  width: 100%;
  margin: 10px;
  background-color: var(--text2);
}

#updateRegion:hover {
  background-color: var(--bg3);
}

#updateRegion:active{
  background-color: var(--bg5);
}

#stageStrikeRegion{
  width: 32px;
  background-color: var(--bg3);
  display: flex;
}

#settingsRegion {
  width: 32px;
  background-color: var(--bg3);
}

#configIcon {
  width: 20px;
  height: 20px;
}

#stageStrikingIcon {
  margin-bottom: 3px;
}

#configIcon path {
  fill: var(--text2);
}

#settingsRegion:hover {
  background-color: var(--bg1);
}

#settingsRegion:active{
  background-color: var(--bg5);
}

#stageStrikeRegion:hover {
  background-color: var(--bg1);
}

#stageStrikeRegion:active{
  background-color: var(--bg5);
}

/* stage striking section*/

#stageStriker {
  margin-left: -234px;
  width: 234px;
  height: 378px;
  background-color: var(--bg5);
  z-index: 2;
}

#stageStrikerTitle {
  display: grid;
  grid-template: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: auto;
}

#actualStageStriker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  width: 60%;
  height: auto;
  margin: auto;
  padding: 10px;
}

button {
  background: none;
  border: 2px solid;
  line-height: 1;
  padding: 0;
  width: 45px;
  height: 45px;
}

button img {
  display: block;
  width: 100%;
}

button:hover {
  border-color: var(--selected);
}

#bob{
  border-color: var(--bob);
}

#bob:hover{
  border-color: var(--selected);
}

#wf{
  border-color: var(--wf);
}

#wf:hover{
  border-color: var(--selected);
}

#jrb{
  border-color: var(--jrb);
}

#jrb:hover{
  border-color: var(--selected);
}

#ccm{
  border-color: var(--ccm);
}

#ccm:hover{
  border-color: var(--selected);
}

#bbh{
  border-color: var(--bbh);
}

#bbh:hover{
  border-color: var(--selected);
}

#hmc{
  border-color: var(--hmc);
}

#hmc:hover{
  border-color: var(--selected);
}

#lll{
  border-color: var(--lll);
}

#lll:hover{
  border-color: var(--selected);
}

#ssl{
  border-color: var(--ssl);
}

#ssl:hover{
  border-color: var(--selected);
}

#ddd{
  border-color: var(--ddd);
}

#ddd:hover{
  border-color: var(--selected);
}

#sl{
  border-color: var(--sl);
}

#sl:hover{
  border-color: var(--selected);
}

#wdw{
  border-color: var(--wdw);
}

#wdw:hover{
  border-color: var(--selected);
}

#thi{
  border-color: var(--thi);
}

#thi:hover{
  border-color: var(--selected);
}

#ttm{
  border-color: var(--ttm);
}

#ttm:hover{
  border-color: var(--selected);
}

#ttc{
  border-color: var(--ttc);
}

#ttc:hover{
  border-color: var(--selected);
}

#rr{
  border-color: var(--rr);
}

#rr:hover{
  border-color: var(--selected);
}

.grayscale {
  filter: grayscale(100%);
}

/* settings section */
#settings {
  width: calc(100% / 3);
  height: 378px;
  background-color: var(--bg5);
  z-index: 2;
}

#settingsTitle {
  width: 40%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SUPERMARIO64SIGNFONT";
  border-bottom-style: solid;
  border-color: var(--bg4);
}

#stageStrikingTitle {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SUPERMARIO64SIGNFONT";
  border-bottom-style: solid;
  border-color: var(--bg4);
}

#actualSettings {
  width: 40%;
  padding-top: 5px;
}

.settingBox {
  padding: 2px 0px 2px 10px;
  display: flex;
  outline: none;
  /* background-color: violet; */
}
.settingBox:hover {
  background-color: var(--bg2);
}

.settingsCheck {
  outline: none;
}

.settingsText {
  width: 100%;
}

#goBack {
  position: absolute;
  width: 389px;
  height: 378px;
  left: 179px;
  z-index: 100;
  display: none;
}

#timerRegion {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: left;
  padding: 5px;
}

#countDownLength {
  width: 80px;
}

#timerBox {
  width: 70px;
  padding: 5px;
  justify-content: center;
  justify-items: center;
}

.image-preview{
  position: fixed;
  
  margin-top: -80px; 
  margin-left: 150px;

  width: 90px;
  height: 90px;

  max-width: 90px;
  max-height: 90px;
  min-width: 90px;
  min-height: 90px;
  
  border: 2px solid var(--bg4);

  display: flex;
  align-items: center;
  justify-content: center;

  -ms-transform-origin-x: 50px;
  -ms-transform-origin-y: -20px;
}

.image-preview:hover {
  border-color: var(--selected); /* Change border color on hover */
}

.image-preview__image{
  display: none;
  width: 100%;
}

.image-preview__default-text{
  display: block;
}

#miscStageStrikingControls{
  justify-items: center;
}